<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd.dao.CircleMapper">
  <resultMap id="BaseResultMap" type="com.cd.entity.Circle">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="INTRODUCTION" jdbcType="VARCHAR" property="introduction" />
    <result column="IMAGE_URL" jdbcType="VARCHAR" property="imageUrl" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="PARENT_ID" jdbcType="INTEGER" property="parentId" />
    <result column="MASTER_USER_ID" jdbcType="VARCHAR" property="masterUserId" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, INTRODUCTION, IMAGE_URL, STATUS, PARENT_ID, MASTER_USER_ID, CREATED_TIME, 
    UPDATED_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from circle
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from circle
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cd.entity.Circle">
    insert into circle (ID, NAME, INTRODUCTION, 
      IMAGE_URL, STATUS, PARENT_ID, 
      MASTER_USER_ID, CREATED_TIME, UPDATED_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{parentId,jdbcType=INTEGER}, 
      #{masterUserId,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cd.entity.Circle">
    insert into circle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="introduction != null">
        INTRODUCTION,
      </if>
      <if test="imageUrl != null">
        IMAGE_URL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="masterUserId != null">
        MASTER_USER_ID,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="masterUserId != null">
        #{masterUserId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cd.entity.Circle">
    update circle
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        INTRODUCTION = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="masterUserId != null">
        MASTER_USER_ID = #{masterUserId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cd.entity.Circle">
    update circle
    set NAME = #{name,jdbcType=VARCHAR},
      INTRODUCTION = #{introduction,jdbcType=VARCHAR},
      IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      MASTER_USER_ID = #{masterUserId,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>