<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cd.dao.UserInfoExMapper" >
  <resultMap id="BaseResultMap" type="com.cd.entity.UserInfoEx" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_INFO_ID" property="userInfoId" jdbcType="INTEGER" />
    <result column="TEAM_NAME" property="teamName" jdbcType="VARCHAR" />
    <result column="ENTRY_DATE" property="entryDate" jdbcType="VARCHAR" />
    <result column="ADMISSION_DATE" property="admissionDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="CHAR" />
    <result column="USER_NO" property="userNo" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="IMAGE_URL" property="userPhoto" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_INFO_ID, TEAM_NAME, ENTRY_DATE, ADMISSION_DATE, CREATE_TIME, UPDATE_TIME,
    DELETE_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_info_ex
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllInfoEx" resultMap="BaseResultMap">
    select
    a.ID,
    a.USER_INFO_ID,
    a.TEAM_NAME,
    a.ENTRY_DATE,
    a.ADMISSION_DATE,
    a.CREATE_TIME,
    a.UPDATE_TIME,
    a.DELETE_FLAG,
    b.USER_NO,
    b.NAME
    from user_info_ex a left join user_info b on a.USER_INFO_ID = b.ID
  </select>
  <select id="selectExInfoByUserNo" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    a.ID,
    a.USER_INFO_ID,
    a.TEAM_NAME,
    a.ENTRY_DATE,
    a.ADMISSION_DATE,
    a.CREATE_TIME,
    a.UPDATE_TIME,
    a.DELETE_FLAG,
    b.USER_NO,
    b.NAME,
    b.IMAGE_URL
    from user_info_ex a left join user_info b on a.USER_INFO_ID = b.ID
    where b.USER_NO = #{userNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info_ex
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cd.entity.UserInfoEx" >
    insert into user_info_ex (ID, USER_INFO_ID, TEAM_NAME,
      ENTRY_DATE, ADMISSION_DATE, CREATE_TIME,
      UPDATE_TIME, DELETE_FLAG)
    values (#{id,jdbcType=INTEGER}, #{userInfoId,jdbcType=INTEGER}, #{teamName,jdbcType=VARCHAR},
      #{entryDate,jdbcType=VARCHAR}, #{admissionDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cd.entity.UserInfoEx" >
    insert into user_info_ex
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userInfoId != null" >
        USER_INFO_ID,
      </if>
      <if test="teamName != null" >
        TEAM_NAME,
      </if>
      <if test="entryDate != null" >
        ENTRY_DATE,
      </if>
      <if test="admissionDate != null" >
        ADMISSION_DATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userInfoId != null" >
        #{userInfoId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null" >
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null" >
        #{entryDate,jdbcType=VARCHAR},
      </if>
      <if test="admissionDate != null" >
        #{admissionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cd.entity.UserInfoEx" >
    update user_info_ex
    <set >
      <if test="userInfoId != null" >
        USER_INFO_ID = #{userInfoId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null" >
        TEAM_NAME = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null" >
        ENTRY_DATE = #{entryDate,jdbcType=VARCHAR},
      </if>
      <if test="admissionDate != null" >
        ADMISSION_DATE = #{admissionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cd.entity.UserInfoEx" >
    update user_info_ex
    set USER_INFO_ID = #{userInfoId,jdbcType=INTEGER},
      TEAM_NAME = #{teamName,jdbcType=VARCHAR},
      ENTRY_DATE = #{entryDate,jdbcType=VARCHAR},
      ADMISSION_DATE = #{admissionDate,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>