<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cd.dao.WorkerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cd.entity.WorkerInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_NO" property="userNo" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ENTRY_TIME" property="entryTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_NO, NAME, ENTRY_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from worker_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from worker_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cd.entity.WorkerInfo" >
    insert into worker_info (ID, USER_NO, NAME, 
      ENTRY_TIME)
    values (#{id,jdbcType=INTEGER}, #{userNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{entryTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cd.entity.WorkerInfo" >
    insert into worker_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userNo != null" >
        USER_NO,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="entryTime != null" >
        ENTRY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null" >
        #{entryTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cd.entity.WorkerInfo" >
    update worker_info
    <set >
      <if test="userNo != null" >
        USER_NO = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null" >
        ENTRY_TIME = #{entryTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cd.entity.WorkerInfo" >
    update worker_info
    set USER_NO = #{userNo,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      ENTRY_TIME = #{entryTime,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>